@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,700&display=swap');

:root {
    --color-fondo: #00080f;
    --color-primario: #000b16;
    --color-secundario: #015761;
    --color-gris: #a5a5a5;
    --color-otros: #038C8C;
    --color-error: #993737;
    --red-fb: #3b5998;
    --red-ig: #e1306c;
    --red-tw: #00acee;

}

* {
    font-family: 'Montserrat', sans-serif;
}



body {
    background: var(--color-fondo);
    padding: 80px 0px;
}

/* boton fijo */

#ir_arriba_boton {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 25px;
    color: var(--color-secundario);
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 55px;
    cursor: pointer;
    transition: all .2s ease;
}

#ir_arriba_boton:hover {
    transform: scale(1.1);
}

.indicador_contenedor {
    width: 100%;
    position: fixed;
    top: 60px;
    height: 5px;
    z-index: 1001;
}

.indicador_scroll {
    height: 100%;
    width: 0;
    background-color: var(--color-otros);
}

.ocultar {
    opacity: 0;
    visibility: hidden;
}

.mostrar {
    opacity: 1;
    visibility: visible;
}

main {
    color: #fff;
    padding: 40px 100px;
}

header {
    background: var(--color-primario);
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2000;
}

header .logo {
    width: 130px;
    cursor: pointer;
    margin: 20px 0px 0px 100px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
}

header .navbar .navbar__grupo {
    display: flex;
    list-style: none;
    margin: 20px 100px 0px 0px;
}


header .navbar .navbar__grupo > li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-left: 20px;
    transition: all .2s ease;
    padding: 8px 15px;
    border-radius: 50px;
}

header .navbar .navbar__grupo > li:last-child > a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-left: 20px;
    transition: all .2s ease;
    padding: 8px 15px;
    border-radius: 50px;
    background: var(--color-secundario);
}

header .navbar .navbar__grupo > li:last-child > a:hover {
    background: var(--color-gris);
    color: var(--color-primario);
}

header .navbar .navbar__grupo > li a:hover {
    background: var(--color-secundario);
}



/* Boton navbar */

.navbar__btn {
    font-size: 30px;
    margin: 11px 15px;
    background: none;
    color: whitesmoke;
    display: none;
    border: none;
    cursor: pointer;
}

/* menu responsive navbar */

@media screen and (max-width: 800px) {

    header  {
        z-index: 7000;
    }

    header .navbar .navbar__btn {
        display: block;
    }
    
    header .navbar .logo {
        display: block;
        margin: 15px 0px 0px 10px;
        height: 20px;
    }
    
    header .navbar .navbar__grupo {
        flex-direction: column;
        position: fixed;
        left: 0;
        text-align: center;
        margin: 59px 0 0 0;
        width: 100%;
        background: rgba(34, 20, 68, 0.322);
        -webkit-backdrop-filter: blur(4px);
        -moz-backdrop-filter: blur(4px);
        -ms-backdrop-filter: blur(40px);
        -o-backdrop-filter: blur(40px); 
        backdrop-filter: blur(4px);
        padding: 0;
        
        left: 100%;
        transition: left .2s ease;
        z-index: -100;
    }
    
    /* header .navbar .navbar__grupo > li {
        border-bottom: 1px solid #014249bd;
    } */
    
    header .navbar .navbar__grupo > li a {
        display: block;
        font-size: 16px;
        color: "fff";
        padding: 30px ;
        width: 100%;
        border-radius: 50px;
        margin-left: 0;
        transition: all .41s ease;
    }
    
    
    header .navbar .navbar__grupo > li a:hover {
        color: white;
        background: var(--color-otros);
        border-radius: 0%;
    }
    
    header .navbar .navbar__grupo li:last-child > a {
        display: block;
        font-size: 14px;
        color: #fff;
        padding: 30px ;
        width: 100%;
        border-radius: 0px;
        margin-left: 0;
        background: none;
    }

    header .navbar .navbar__grupo > li:last-child {
        background: #01576149;
    }
    
    header .navbar .navbar__grupo > li:last-child > a:hover {
        color: var(--color-primario);
        background: var(--color-gris);
    }

    header .navbar .navbar__grupo-visible {
        left: 0;
    }
    

}



/* Social Bar */
.grupo__redes-responsive {
    display: none;
}
.grupo__redes {
    position: fixed;
    left: 0;
    top: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    font-size: 22px;
}

.grupo__redes .fab {
    color: var(--color-gris);
    text-decoration: none;
    padding: 12px;
    display: flex;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.grupo__redes .fa-facebook,
.grupo__redes .fa-twitter,
.grupo__redes .fa-instagram {
    background: var(--color-gris);
    color: var(--color-primario);
}

.grupo__redes .fab:first-child {
    border-top-right-radius: 10px;
}

.grupo__redes .fab:last-child {
    border-bottom-right-radius: 10px;
    padding-right: 15px;
}

.grupo__redes .fa-facebook:hover {
    padding-left: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--red-fb);
    color: #fff;
}

.grupo__redes .fa-twitter:hover {
    padding-left: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--red-tw);
    color: #fff;
}

.grupo__redes .fa-instagram:hover {
    padding-left: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--red-ig);
    color: #fff;
}

/* Texto Principal */

.container .texto__principal .contenedor__texto-principal {
    display: flex;
    justify-content: space-between;
    background: var(--color-primario);
    padding-bottom: 190px;
    border-radius: 25px;
    margin-bottom: 100px;
}

.container .texto__principal .grupo__texto {
    display: inline-block;
}

.container .texto__principal .texto__principal-titulo {
    font-size: 65px;
    font-weight: 900px;
    margin-bottom: 0;
    margin-left: 70px;
}

.container .texto__principal .texto__principal-subtitulo {
    font-size: 50px;
    margin-top: 0;
    color: var(--color-otros);
    margin-left: 70px;
}

.container .texto__principal .texto__principal-parrafo {
    margin-left: 70px;
}

/* imagen */

.container .grupo__imagen {
    display: inline-block;
}

.container .grupo__imagen .imagen__laptop {
    position: absolute;
    width: 35%;
    left: 53%;
    bottom: 100px;
    transition: all .6s ease-out;
}

/* imagen responsive */

.container .texto__principal .contenedor__texto-principal .grupo__imagen-responsive {
    display: none;
}



.container .grupo__imagen:hover >.imagen__laptop {
    left: 52%;
    bottom: 105px;
}

/* texto seundario */

.texto__secundario .texto__secundario-titulo {
    font-size: 35px;
}

.texto__secundario .texto__secundario-parrafo {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
}

.texto__secundario .texto__secundario-parrafo-2 .imagen1 {
    float: left;
    width: 270px;
    margin-right: 20px;
}

/* separador svg */
.grupo__separador {
    position: absolute;
    width: calc(100% + 20px);
    left: -5px;
}

.grupo__separador .separador {
    width: 100%;
}

/* parte blanca pagina */

.texto__herramienta .grupo__texto-herramienta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--color-gris);
    padding: 200px 100px;
}

.texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-principal {
    color: var(--color-primario);
}

.texto__herramienta .grupo__texto-herramienta .titulo__herramienta-principal {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 50px;
    font-size: 35px;
    width: 100%;
}

/* cajas de titulos de las herramientas */

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left {
    display: inline-block;
    padding: 2px 40px 2px 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 90px;
    transition: all .4s ease;
    width: 50%;

}
.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left-1 {
    margin-top: 20px;
}

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left .titulo__herramienta {
    font-size: 25px;
    margin: 0px 0px 0px 30px;
    color: var(--color-primario);
    transition: all .3s ease;
}

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left:hover {
    margin-left: 20px;
    background: var(--color-otros);
    width: 500px;
} 

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left:hover > .titulo__herramienta {
    color: #fff;
} 

.texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-left .texto__herramienta-left {
    font-size: 18px;
    margin: 0px 0px 0px 30px;
    display: inline-block;
    width: 70%;
}

.texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-left {
    border-left: 2px solid var(--color-otros);
    margin-left: 30px;
    transition: all .2s ease;
}

.texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-left:hover {
    border-left: 6px solid var(--color-otros);
}

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-right {
    display: inline-block;
    padding: 2px 0px 2px 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 90px;
    margin-left: auto;
    transition: all .4s ease;
    width: 50%;
}

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-right .titulo__herramienta {
    font-size: 25px;
    margin: 0 30px 0px 0px;
    color: var(--color-primario);
    text-align: right;
    transition: all .3s ease;
}

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-right:hover {
    margin-right: 20px;
    background: var(--color-otros);
    width: 500px;
}

.texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-right:hover > .titulo__herramienta {
    color: #fff;
} 


.texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-right .texto__herramienta-right {
    font-size: 18px;
    margin: 0px 30px 0px 0px;
    display: inline-block;
    width: 70%;
}

.texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-right {
    border-right: 2px solid var(--color-otros);
    margin-right: 30px;
    transition: all .2s ease;
    text-align: right;
}

.texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-right:hover {
    border-right: 6px solid var(--color-otros);
}
/* separador gris (2) */
.grupo__separador {
    position: absolute;
    width: calc(100% + 5px);
}

.grupo__separador .separador-2 {
    position: absolute;
    width: 100%;
}

/* seccion Productos con imgs */

.productos {
    margin-top: 10px;
    padding: 200px 100px;
}

.productos > h2 {
    text-align: center;
    margin-bottom: 45px;
    font-size: 35px;
    color: var(--color-otros);
}

.productos p {
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin: 45px 100px 0px 100px;
}


.productos .container__prod {
    display: flex;
    width: 100%;
    height: 500px;
}

.productos .container__prod .caja__producto {
    flex: 3;
    margin: 20px;
    line-height: 0;
    transition: all .7s ease;
}

.productos .container__prod .caja__producto > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 1s ease;
}

.productos .container__prod .caja__producto > span {
    font-size: 20px;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    background: var(--color-otros);
    color: whitesmoke;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .8s ease;
}

.productos .container__prod .caja__producto:hover {
    flex: 50%;
}

.productos .container__prod .caja__producto:hover > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.productos .container__prod .caja__producto:hover > span {
    height: 0vh;
    overflow: hidden;
}

/* Formulario */

.seccion__formulario {
    background: var(--color-gris);
    padding: 200px 100px;
}

.seccion__formulario > h2 {
    font-size: 34px;
    color: var(--color-secundario);
    text-align: center;
    padding: 40px 0px;
}

.seccion__formulario .formulario {
    display: grid;
    padding: 0px 200px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.formulario__input {
    width: 100%;
    background: #fff;
    height: 45px;
    line-height: 45px;
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 0px 40px 0px 10px;
    transition: all .2s ease;
}

.formulario input[type="text"]:hover,
.formulario input[type="email"]:hover {
    border: 2.8px solid var(--color-otros);
}


.formulario__input:focus {
    border: 3px solid transparent;
    border: 2.8px solid  var(--color-secundario) ;
    outline: none;
}

.formulario .formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: var(--color-secundario);
    transition: all .3s ease;
}

.formulario .formulario__label:hover {
    color: var(--color-otros);
}

.formulario__grupo-terminos {
    grid-column: span 2;
    padding: 15px 0;
}

.formulario__mensaje {
    display: none; /*activar con otra clase*/
}


.formulario__mensaje p > i {
    font-size: 18px
}

.formulario__mensaje p b {
    margin-left: 5px;
}

.formulario__mensaje-activo {
    display: block;
    grid-column: span 2;
    text-align: center;
    background: var(--color-error);
    border-radius: 7px;
}

.formulario__input-error {
    display: none; /*activar con clase*/
}

.formulario__input-error-activo {
    display: block;
}

/* checkbox personalizado */

.formulario input[type="checkbox"] {
    display: none;
}

.formulario .formulario__label-checkbox {
    padding-left:25px;
    position: relative;
}

.formulario .formulario__label-checkbox::before {
    content: '';
    border: 2px solid var(--color-otros);
    border-radius: 3px;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0px;
    bottom: 10px;
    transition: all .2s ease;
}

.formulario input[type="checkbox"]:checked + label:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 1em;
}
/* btn */

.formulario .formulario__grupo-boton {
    grid-column: span 2;
    justify-self: center;
}

.formulario .formulario__boton {
    padding: 15px 60px;
    border-radius: 10px;
    background: var(--color-otros);
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background .5s ease;
}




.formulario .formulario__boton:hover {
    background: var(--color-secundario);
}

.formulario .formulario__mensaje-aprobado {
    display: none;
}

.formulario .formulario__mensaje-aprobado-activo {
    display: block;
    position: absolute;
    color: #039703;
    font-size: 14px;
    margin: 10px 16px;
    text-align: center;
    transition: all .5s ease;
}

/* footer */

footer {
    border-top: 5px solid var(--color-otros);
}

footer .container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 170px;
}

footer .container__footer .grupo__nombre .nombre {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}

footer .container__footer .grupo__nombre .texto {
    margin-top: 10px;
    color: var(--color-gris);
    font-size: 15px;
}

footer .container__footer .grupo__redes-footer {
    display: flex;

}

footer .container__footer .grupo__redes-footer a {
    color: var(--color-gris);
    font-size: 25px;
    padding: 12px;
    text-decoration: none;
    background: rgb(51, 51, 51);
    border-radius: 50%;
    margin-left: 15px;
    transition: all .2s ease;
}

footer .container__footer .grupo__redes-footer a:hover {
    background: rgb(75, 75, 75);
}




/* ----------------------- Responsive Design ----------------------- */

@media screen and (max-width: 800px) {
    main {
        color: #fff;
        padding: 25px;
    }

    /* boton fijo responsive */

    #ir_arriba_boton {
        position: fixed;
        z-index: 1000;
        right: 10px;
        bottom: 50px;
        color: var(--color-secundario);
        width: 64px;
        height: 64px;
        text-align: center;
        transition: all .2s ease;
        font-size: 45px;
        cursor: pointer;
    }

        
    #ir_arriba_boton:hover {
        transform: scale(1.1);
    }

    /* Social bar Responsive */

    .grupo__redes {
        display: none;
        align-items: stretch;
    }

    .grupo__redes-responsive{
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-around;
    }

    .grupo__redes-responsive .fab{
        background: var(--color-gris);
        width: 300px;
        height: 50px;
        padding: 20px;
        text-decoration: none;
        flex: 3;
        transition: all .4s ease-in-out;
        text-align: center;
    }

    
    .grupo__redes-responsive .fa-facebook,
    .grupo__redes-responsive .fa-twitter,
    .grupo__redes-responsive .fa-instagram {
        background: var(--color-gris);
        opacity: 0.85;
        color: var(--color-primario);
        font-size: 25px;
        line-height: 10px;
    }

    .grupo__redes-responsive .fa-facebook:hover {
        background: var(--red-fb);
        opacity: 1;
        color: #fff;
        flex: 30%;
    }

    .grupo__redes-responsive .fa-instagram:hover {
        background: var(--red-ig);
        opacity: 1;
        color: #fff;
        flex: 30%;
    }

    .grupo__redes-responsive .fa-twitter:hover {
        background: var(--red-tw);
        opacity: 1;
        color: #fff;
        flex: 50%;
    }

    /* Texto Principal */

    .container .texto__principal .grupo__texto {
        display: inline-block;
        width: 100%;
    }

    .container .texto__principal .contenedor__texto-principal {
        display: inline-block;
        width: 100%;
        height: 560px;
        margin-bottom: 50px;
    }

    .container .texto__principal .texto__principal-titulo {
        font-size: 50px;
        margin: 30px 10%;
        text-align: center;
    }

    
    .container .texto__principal .texto__principal-subtitulo {
        font-size: 15px;
        margin: 0px 10%;
        color: var(--color-otros);
        text-align: center;
    }

    .container .texto__principal .texto__principal-parrafo {
        font-size: 12px;
        margin: 50px 10%;
        text-align: center;
    }

    /* Imagen responsive */

    .container .grupo__imagen {
        display: none
    }

    .container .texto__principal .contenedor__texto-principal .grupo__imagen-responsive {
        display: block;
        text-align: center;
    }

    .container .texto__principal .contenedor__texto-principal .grupo__imagen-responsive .imagen__laptop-responsive {
        margin: 0px auto;
        width: 70%;
    }


    /* Separador svg */

    .grupo__separador {
        position: absolute;
        width: 100%;
        left: 0px;
    }
    
    /* Texto Secundario responsive */

    .texto__secundario .texto__secundario-titulo {
        font-size: 18px;
        text-align: center;
    }

    .texto__secundario .texto__secundario-parrafo {
        font-size: 12px;
        margin-top: 60px;
    }

    .texto__secundario .texto__secundario-parrafo-2{
        display: block;
        font-size: 12px;
    }

    .texto__secundario .texto__secundario-parrafo-2 .imagen1 {
        float: none;
        display: block;
        width: 200px;
        margin: 60px auto;
    }

    /* Parte blanca Página responsive */
    
    
    .texto__herramienta .grupo__texto-herramienta {
        display: flex;
        justify-content: center;        
        padding: 150px 25px 80px 25px;
    }

    .texto__herramienta .grupo__texto-herramienta .titulo__herramienta-principal {
        text-align: center;
        margin: 0px auto;
        font-size: 18px;
    }

    .texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left {
        display: block;
        border-radius: 10px;
        transition: all .4s ease;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 80px;
    }

    .texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left .titulo__herramienta {
        text-align: center;
        width: 100%;
        margin: 0%;
        font-size: 18px;
    }

        
    .texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-left:hover {
        background: var(--color-otros);
        width: 100%;
        margin-left: 0;
    } 

    .texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-right {
        display: block;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 80px;
        transition: all .4s ease;
    }

    .texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-right .titulo__herramienta {
        text-align: center;
        width: 100%;
        margin: 0%;
        font-size: 18px;
    }

    .texto__herramienta .grupo__texto-herramienta .grupo__titulo-herramienta-right:hover {
        width: 100%;
        margin-left: 0;
    } 
        
    .texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-left,
    .texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-right {
        transition: all .2s ease;
        text-align: justify;
        border: none;
        margin: 0;
        border-right: 0;
        border-left: 0;
        border-top: 3px solid var(--color-otros);

    }

    .texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-left:hover,
    .texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-right:hover {
        border-right: none;
        border-left: none;
    }

    .texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-left .texto__herramienta-left,
    .texto__herramienta .grupo__texto-herramienta .grupo__texto-herramienta-right .texto__herramienta-right {
        font-size: 12px;
        line-height: 22px;
        display: block;
        width: 100%;
        margin: 6px 0 0 0;
    }
    


    /* seccion Productos con imgs responsive */

    .productos {
        padding: 150px 25px;
    }

    .productos h2 {
        font-size: 18px;
        line-height: 30px;
    }

    .productos h2::after {
        content: '(Presiona en cada imagen)';
        color: ivory;
        position: relative;
        top: 20px;
        display: block;
        font-size: 13px;
    }

    .productos p {
        text-align: center;
        font-size: 12px;
        color: #fff;
        margin: 50px 20px 0px 20px;
        line-height: 18px;
    }

    .productos .container__prod {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        
    }

        
    .productos .container__prod .caja__producto {
        flex: 3;
        margin: 20px;
        line-height: 0;
        transition: all .7s ease;
        border-radius: 10px;
        margin-top: 50px;
    }

    .productos .container__prod .caja__producto > span {
        height: 0;
        transition: all .3s ease;
    }

        
    .productos .container__prod .caja__producto > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transition: all .3s ease;
    }

    .productos .container__prod .caja__producto:hover > img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
        
    .productos .container__prod .caja__producto:hover > span {
        display: block;
        height: 50px;
        transition: all .7s ease;

    }


    /* Formulario */
    .seccion__formulario .titulo__formulario {
        font-size: 18px;
        padding-top: 0px;
    }
    
    .formulario__input {
        height: 40px;
        font-size: 12px;
    }
    
    .formulario .formulario__label {
        font-size: 14px;
    }
    
    .seccion__formulario {
        padding: 150px 25px;
    }
    
    .seccion__formulario .formulario {
        grid-template-columns: 1fr;
        gap:20px;
    }

    .formulario__grupo-terminos {
        padding: 0;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario .formulario__grupo-boton {
        grid-column: 1;
    }

    .seccion__formulario .formulario {
        padding: 0px 10px;
    }

    /*Checkbox personalizado responsive*/

    .formulario .formulario__label-checkbox {
        font-size: 14px;
    }

        
    .formulario .formulario__label-checkbox::before {
        content: '';
        border: 2px solid var(--color-otros);
        border-radius: 3px;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0px;
        top: 15px;
        bottom: 0;
        transition: all .2s ease;
    }

    /* formulario boton responsive */

    .formulario .formulario__boton {
        padding: 10px 40px;
        font-size: 14px;
    }

        
    .formulario .formulario__mensaje-aprobado-activo {
        display: block;
        position: absolute;
        font-size: 12px;
        margin: 15px 5px;
    }

    /* validacion Formulario responsive */
    
    .formulario__input-error-activo {
        display: block;
        font-size: 12px;
        margin-left: 10px;
    }
    
    
    .formulario__mensaje-activo p {
        font-size: 12px;
        line-height: 20px;        
    }

    /* footer reponsive */

    footer .container__footer {
        padding: 40px 25px;
        flex-direction: column;
    }

    footer .container__footer .grupo__nombre{
        display: block;
        margin-right: auto;
    }

    footer .container__footer .grupo__nombre .nombre {
        font-size: 18px;
    }

    footer .container__footer .grupo__nombre .texto {
        margin: 20px 0px;
        font-size: 12px;
    }

    footer .container__footer .grupo__redes-footer {
        width: 100%;
        margin-top: 20px;
    }

    footer .container__footer .grupo__redes-footer a {
        color: var(--color-gris);
        font-size: 18px;
        padding: 12px;
        text-decoration: none;
        background: rgb(51, 51, 51);
        border-radius: 50%;
        margin-right: 15px;
        margin-left: 0;
    }

    
}


@media screen and (max-height: 1200px) {
    
    
    .container .grupo__imagen .imagen__laptop {
        width: 30%;
        left: 55%;
        bottom: 100px ;
    }

    @media screen and (max-height: 600px) {
        .container .grupo__imagen .imagen__laptop {
            width: 25%;
            bottom: 20px;
        }
    }

}

/* ---------------- Validacion Formulario ---------------- */

/* Valicdación para formularios */

.formulario__grupo-incorrecto .formulario__label {
    color: var(--color-error);
}

.formulario__grupo-incorrecto .formulario__input {
    border: 2.8px solid var(--color-error);
}
